@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#7F5056;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
   --border:2px solid var(--black);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

body{
   background-color: var(--light-bg);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.message{
   position: sticky;
   top:0; left:0; right: 0;
   padding: 15px 10px;
   background-color: var(--white);
   text-align: center;
   z-index: 1000;
   box-shadow: var(--box-shadow);
   color: var(--black);
   margin-bottom: 20px;
   cursor: pointer;
}

.logo{
   margin-top: 80px;
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo a{
   text-align: center;
   font-size: 2.5rem;
   font-weight: 700;
   color: var(--black);
   text-decoration: none;
}

.logo a span{
   color: var(--blue);
}

.logo a:hover{
   transform: scale(1.05);
   transition: all 0.3s ease;
}



.form-container{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.form-container form{
   width: 100%;
   max-width: 500px;
   border-radius: 5px;
   border: var(--border);
   padding: 20px;
   text-align: center;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.form-container form h3{
   font-size: 30px;
   margin-bottom: 20px;
   text-transform: uppercase;
   color: var(--black);
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   border: var(--border);
   padding: 12px 14px;
   margin: 10px 0;
   font-size: 16px;
}

.form-container form p{
   margin-top: 20px;
   font-size: 18px;
   color: var(--black);
}

.form-container form p a{
   color: var(--red);
   font-weight: 600;
}

.form-container form p a:hover{
   text-decoration: underline;
}

.btn,
.delete-btn, 
.option-btn{
   display: inline-block;
   border-radius: 5rem;
   background-color: var(--blue);
   padding: 10px 30px;
   color: var(--white);
   font-weight: 600;
   cursor: pointer;
   font-size: 18px;
   transition: all 0.3s ease;
}

.btn:hover,
.delete-btn:hover, 
.option-btn:hover{
   transform: scale(1.05);
}

.btn{
   background-color: var(--blue);
   margin-top: 10px;
}

.delete-btn{
   background-color: var(--red);
}




/* Responsive design */
@media (max-width: 768px) {
   .logo a{
      font-size: 2rem;
   }
   
   .form-container form{
      width: 90%;
   }
}
